/* importing fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:100|Nunito+Sans');

/* General styling */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s all;
}
a:hover {
    color: rgb(169, 169, 169);
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: "Nunito Sans";
    font-size: 1.3rem;
    margin:0;
}
@media(max-width: 787px) {
    body {
        font-size: .9rem;
    }
}

.container {
    padding: 45px 3%;
    max-width: 1400px;
    margin:auto;
}

h1,h2,h3,h4,h5 {
    font-family: "Raleway";
    margin:0;
    font-size: 2em;
}

/* Intro area */
.intro {
    text-align: center;
    padding: 25px 0px 45px 0px;
}
.images-container {
    background: url("./images/tamarin.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    text-align: center;
    max-width: 500px;
    margin:auto;
}
.dots-image {
    max-width: 100%;
}
.intro-image {
    left:0; right:0;
    margin:auto;
    opacity:0; /* fading in on page load */
}

.intro-text {
    max-width: 500px; 
    margin:auto;
    padding-top: 20px;
}
.intro-text.small {
    font-size: .9rem;
    padding: 10px 0px;
}
.middle-text {
    font-family: "Nunito Sans";
    font-size: 1.2em;
    padding-top: 10px;
}
.down-link {
   font-size: 1.5em;
}

.main-title {
    font-size: 4rem;
}
@media(max-width: 787px) {
    .main-title{
        font-size: 2rem;
    }
}

/* Small trails view */
#sm-trails {
    text-align: center;
    padding: 40px 0px;
}

#sm-trails p {
    max-width: 550px;
    margin:auto;
}

#sm-trail-views {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 45px 0px;
}

/* Single trails view */

.single-trail {
    text-align: center;
    padding: 45px 0px;
}

.single-trail h4 {
    font-family: "Nunito Sans";
    font-size: 1em;
}

.chart-container svg {
    width: 100%;
    max-width: 800px; 
    margin:auto;
}

svg circle {
    cursor: pointer;
}

.animal-name h4 {
    transition: .3s all;
    font-size: 1rem;
}

/* TODO: show this all the time when in chart single area, allow user to 
expand and collapse,  */

.lg-trails-container {
    display: flex;
    box-shadow: inset 0px 2px 25px rgba(0,0,0,.15);
}

#lg-trails {
    flex-grow: 1;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.chart-key {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 150px;
    background: white;
    box-shadow: 0px 2px 25px rgba(0,0,0,.15);
    padding: 25px 0px;
    left: 0;
}

.chart-key div {
    flex-basis: 25%;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 3%;
    margin: 0 auto;
}
.chart-key h5 {
    padding: 0px 10px;
    text-align: center;
    text-transform: none;
    font-size: 1.2;
}

.chart-key {
    text-transform: uppercase;
    font-size: .7em;
}

.chart-key .mammals, .chart-key .birds,
.chart-key .reptiles, .chart-key .fish {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chart-key .mammals {
    background-color: #B38D97;
}
.chart-key .reptiles {
    background-color: #AAC49D;
}
.chart-key .birds {
    background-color: #EAC988;
}
.chart-key .fish {
    background-color: #90BBE5;
}

.single-trail .first-col {
    flex-grow: 1;
}

.single-trail .second-col {
    font-size: .7em;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 25px rgba(0,0,0,.15);
    margin: 20px 0px;
}
.second-col p {
    padding: 10px 3%;
}

.animal-name {
    padding-bottom: 20px;
}

.mammals-percentage {
    border-bottom: 2px solid #B38D97;
}
.birds-percentage {
    border-bottom: 2px solid #EAC988;
}
.repts-amphs-percentage {
    border-bottom: 2px solid #AAC49D;
}
.fish-percentage {
    border-bottom: 2px solid #90BBE5;
}