
@import url('https://fonts.googleapis.com/css?family=Germania+One|Source+Sans+Pro:300');
a {
    color: rgb(157, 157, 157);
    text-decoration: none;
}
body {
    background-color: black;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    padding: 65px 3%;
    font-size: 2rem;
    font-weight: 300;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: radial-gradient(rgb(72, 72, 72), black);
}

.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    background-color: rgb(2, 2, 2);
    color: white;
    margin: -2px;
    flex-basis: 33%;
    min-height: 300px;
    display: flex;
    border: 2px solid rgb(101, 101, 101);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: .5s all;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    font-weight: 200;
    font-family: "Germania One", sans-serif;
}
.box p {
    margin:0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: grey;
    pointer-events: none;
}
.box .emotion-title {
    font-family: "Germania One", sans-serif;
    font-size: 2.5rem;
    color: white;
}
.box.inspired {
    background-image: url("./img/lightbulb.png");
}
.box:hover {
    background-color: rgb(18, 18, 18);
}

#song-modal {
    position: fixed;
    background-color: rgba(0,0,0, 1);
    background-image: radial-gradient(rgb(109, 32, 32), black); /* SET THIS BASED ON EMOTION */
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    padding: 20px;
}
.emotion-title {
    padding-top: 20px;
}
.modal-close {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 20px; right: 20px;
    text-decoration: none;
    pointer-events: all;
    transition: .2s all;
    padding: 20px;
  }
.modal-close:hover {
    color: rgba(255,255,255,.4);
    transform: rotate(90deg);
}
.song-rec-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#song-rec-text {
    opacity: 0;
    transition: 2s all;
    font-size: 6rem;
    max-width: 900px;
    margin:auto;
    text-align: center;
    line-height: 6rem;
}
#song-rec-text p {
    margin: 0;
}

.emotion-modal-label {
    overflow: hidden;
    text-align: center;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Germania One", sans-serif;
  }
  
.emotion-modal-label:before,
.emotion-modal-label:after {
    background-color: rgba(255,255,255,.3);
    content: "";
    display: inline-block;
    height: .1rem;
    position: relative;
    vertical-align: middle;
    width: 30%;
}

.emotion-modal-label:before {
    right: 0.5em;
    margin-left: -50%;
}
.emotion-modal-label:after {
    left: 0.5em;
    margin-right: -50%;
}

.album-art {
    position: absolute;
    z-index: -1;
    left: 0; right:0; top: 0; bottom:0;
    margin:auto;
    transition: 1s all;
    transition-delay: 1s;
    animation: unblur 2s;
    filter: brightness(20%);
    max-width: 90%;
}

@-webkit-keyframes unblur {
    0%  { -webkit-filter: blur(15px) brightness(20%); }
    100% { -webkit-filter: blur(0px) brightness(20%); }
  }


h1, h2, h3, h4, h5, h6 {
    font-family: "Germania One", sans-serif;
    margin:0;
    letter-spacing: .1rem;
}

.intro {
    text-align: center;
}
.intro-text {
    padding: 20px 0px 40px 0px;
    max-width: 900px;
    margin:auto;
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
}

.header {
    font-size: 6vw;
    font-weight: 100;
    letter-spacing: 0rem;
    font-family: "Source Sans Pro", sans-serif;
}
.sub-header {
    font-size: 2.5vw;
    font-family: "Germania One", sans-serif;
    color: grey;
}

.artist-name {
    font-size: 2rem;
    font-family: "Germania One", sans-serif;
    line-height: 4rem;
    padding: 0;
}

.valid {
    display: none;
}
.invalid {
    display: block;
}

.auth-input-container {
    padding-bottom: 30px;
    text-align: center;
    transition: .3s all;
}
.auth-key-input {
    background: transparent;
    color: white;
    font-size: 1.3rem;
    border: 2px solid grey;
    padding: 5px;
    font-weight: 200;
    border-radius: 20px;
    margin: 0px 5px;
    width: 400px;
}
.submit-token-btn {
    background: rgb(29, 153, 162);
    color:white;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.submit-token-btn:hover {
    background: rgb(36, 168, 177);
}
.auth-stmt {
    font-size: 1rem;
    color: grey;
    max-width: 550px;
    margin:auto;
    padding-bottom: 10px;
}
.error-msg {
    font-size: 5rem;
}

@media (max-width: 800px) {
    .song-name, .header {
        font-size: 4rem;
        line-height: 4rem;
    }
    .box {
        flex-basis: 49%;
    }
}

@media (max-width: 500px) {
    .song-name, .header, .error-msg  {
        font-size: 3rem;
        line-height: 3rem;
    }
    .box {
        flex-basis: 100%;
    }
}
